#player,#player a{ color:#fff; }
#player{ background:url(sizerAndVol.png); background-position:bottom; }
#player .mainImage{ background:url(main.png); }

#player #baseLeft{ width:140px; }
#player #baseRight{ width:140px;}
#player .button{  width:52px; }
#player #play{ background:url(playBtn.png); }
#player #play,#player #pause{ left:52px; }
#player #title{ left:120px;  }
#player #tooltip{ right:0px; }

#player #seeker{ right:140px; }
#player #seekerBase{ border-color:#fff;  }
#player #seekerBuffered{ background-color:#4b575d; }
#player #seekerSliderBase{ background-color:#ccc; }

#player #volume{ width:140px; right:78px; }
#player #volumeSlider{ width:16px; background:url(sizerAndVol.png); }
