#player,#player a{ color:#ff0303; }
#player{ background-color: black; }
#player .mainImage{ background:url(main.png); }

#player #baseLeft{ width:188px; }
#player #baseRight{ width:145px;}
#player .button{  width:22px; }
#player #pause{ left:32px; }
#player #play{ background:url(playBtn.png);left:31px; }
#player #previous{ left:8px; }
#player #next{ left:55px; }
#player #title{ left:90px;}
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:5px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#ff0303; }
#player #seekerBuffered{ background-color:#ff0303; }
#player #seekerSliderBase{ background-color:#ff0303; }

#player #volume{ width:70px; right:33px; }
#player #volumeSlider{ width:14px; background:url(sizerAndVol.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#ff0303;}
#playlist .module{  color:#ff0303; background-color:white; }
#playlist h3{ color:#ff0303; background-color:#ff0303;  }
#playlist .even{background-color:white;}
#playlist .odd{ background-color:#ff0303;}
#playlist .focus{ background-color:#ff0303; color:#ff0303;}
